{{!--
	2015-07-27
	Discourse предоставляет массу вариантов организации файловой иерархии.
	Я выбрал тот, который показался мне наиболее удобным.

	Вот возможные варианты, которые я нарыл:
	javascripts/adminShop/products.hbs
	javascripts/adminShop.products.hbs
	javascripts/admin_shop/products.hbs
	javascripts/admin/shop.products.hbs
	javascripts/admin_shop_products.hbs
	javascripts/admin-shop-products.hbs
	javascripts/admin/shop-products.hbs
	javascripts/admin_shop.productы.hbs

	Всю логику смотрите в файле app/assets/javascripts/discourse/ember/resolver.js.es6
	@link https://github.com/discourse/discourse/blob/v1.4.0.beta6/app/assets/javascripts/discourse/ember/resolver.js.es6

	Я останавливал отладчик в перечисленных ниже методах следующим способом:
		if (
			-1 < parsedName.fullNameWithoutType.toLowerCase().indexOf('shop')
			&& -1 === ['controller', 'route'].indexOf(parsedName.type)
		) {
			debugger;
		}

	1) customResolve:
	https://github.com/discourse/discourse/blob/v1.4.0.beta6/app/assets/javascripts/discourse/ember/resolver.js.es6#L71

	2) resolveTemplate
	https://github.com/discourse/discourse/blob/v1.4.0.beta6/app/assets/javascripts/discourse/ember/resolver.js.es6#L116

	3) findTemplate
	https://github.com/discourse/discourse/blob/v1.4.0.beta6/app/assets/javascripts/discourse/ember/resolver.js.es6#L148

	4) findUnderscoredTemplate
	https://github.com/discourse/discourse/blob/v1.4.0.beta6/app/assets/javascripts/discourse/ember/resolver.js.es6#L163

	5) findAdminTemplate
	https://github.com/discourse/discourse/blob/v1.4.0.beta6/app/assets/javascripts/discourse/ember/resolver.js.es6#L171

--}}
<h1>Downloads</h1>
<table class='downloads'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Time</th>
			<th>File</th>
			<th>Customer</th>
			<th>Topic</th>
		</tr>
	</thead>
	<tbody>
{{! 2016-12-10
Раньше использовал здесь синтаксис #each ... in ...,
однако теперь он не работает, и даже в документации Handlebars больше не упоминается:
http://handlebarsjs.com/builtin_helpers.html#iteration
Короткий синтаксис с this вместо |...| тоже не работает.
}}
		{{#each controller as |download|}}
			<tr class='download'>
				<td>{{#link-to 'adminFiles.download' download}}{{download.id}}{{/link-to}}</td>
				<td>{{download.timeFormatted}}</td>
				<td>{{download.fileName}}</td>
				<td>{{download.userName}}</td>
				<td>{{download.topicTitle}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
